/* Write your CSS code here */

/* Write your CSS code here */
/* Write your CSS code here */

.about-cont {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-img {
  width: 200px;
}
